In [1]:
# import dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from citipy import citipy
from datetime import datetime
from config import weather_api_key
from config import g_key
import requests as requests
from scipy.stats import linregress

In [2]:
# locations = []
# lat = []
# long = []
# for i in range (0,1501):
#     lat.append(np.random.uniform(-90,90))
#     long.append(np.random.uniform(-180,180))
# locations = zip(lat,long)
# lat_long = list(locations)
# cities = []
# countries = []
# for element in lat_long:
#     city = citipy.nearest_city(element[0],element[1]).city_name
#     country = citipy.nearest_city(element[0],element[1]).country_code
#     if city not in cities:
#         cities.append(city)
#         countries.append(country)
# cities_and_countries = zip(cities,countries)
# cities__and_countries_list = list(cities)
# len(cities)

In [3]:
# url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
# # city_url = url + "&q=" + "mar del plata"
# print(url)

In [4]:
# # create an empty list to hold weather data
# city_data_list = []
# # Print 'begenning of logging'
# print('Beginning data retrieval')
# print('------------------------')

# # Create the counters
# record_count = 1
# set_count = 1

# # Loop throgh cities in the cities_list list
# for i, element in enumerate(cities):
   
#     # Group cities in groups of 50 for logging purposes
#     if (i % 50 == 0 and i >= 50):
#         set_count += 1
#         record_count = 1
#     # Create the url for each city
#     city_url = url + "&q=" + element.replace(" ","+")
    
#     print(f'Processing record {record_count} of Set {set_count} | {element}')
#     record_count += 1
#     try:
        
#         city_weather = requests.get(city_url).json()
#         city_lat = city_weather['coord']['lat']
#         city_lng = city_weather["coord"]["lon"]
#         city_max_temp = city_weather["main"]["temp_max"]
#         city_humidity = city_weather["main"]["humidity"]
#         city_clouds = city_weather["clouds"]["all"]
#         city_wind = city_weather["wind"]["speed"]
#         city_country = city_weather["sys"]["country"]
#         # Convert the date to ISO standard.
#         city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
#         city_data_list.append({"City": element.title(),
#                           "Lat": city_lat,
#                           "Lng": city_lng,
#                           "Max Temp": city_max_temp,
#                           "Humidity": city_humidity,
#                           "Cloudiness": city_clouds,
#                           "Wind Speed": city_wind,
#                           "Country": city_country,
#                           "Date": city_date})
#     except:
#         print('City not found...')
#         pass
# # Indicate that Data Loading is complete.
# print("-----------------------------")
# print("Data Retrieval Complete      ")
# print("-----------------------------")

In [5]:
# len(city_data_list)

In [6]:
# city_data_df = pd.DataFrame(city_data_list)
# city_data_df.head()

In [7]:
# column_order = ['City','Country','Date','Lat','Lng','Max Temp','Humidity','Cloudiness','Wind Speed']
# city_data_df = city_data_df[column_order]
# city_data_df.head()

In [8]:
# output_data_file = 'weather_data/cities.csv'
# city_data_df.to_csv(output_data_file,index_label = 'City_ID')

In [9]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2021-05-24 19:46:20,62.4560,-114.3525,42.33,38,1,5.01
1,1,Sai Buri,TH,2021-05-24 19:46:20,6.7013,101.6168,78.75,86,97,4.23
2,2,Saldanha,ZA,2021-05-24 19:46:20,-33.0117,17.9442,60.85,92,100,5.06
3,3,Tuktoyaktuk,CA,2021-05-24 19:46:21,69.4541,-133.0374,30.20,100,90,8.05
4,4,Provideniya,RU,2021-05-24 19:46:21,64.3833,-173.3000,37.51,70,0,22.37

In [10]:
import time
today = time.time()
today
todays_date = time.strftime("%x")

In [11]:

# ax=city_data_df.plot.scatter('Lat','Max Temp',edgecolor='black', linewidths=1, marker='o', alpha=0.8, label = 'Cities')
# ax.set_xlabel('Latitude')
# ax.set_ylabel('Maximum Temperature')
# ax.set_title(f'City latitude vs current max temp:  {todays_date}')

# plt.grid(True)
# plt.savefig('weather_data/fig1.png')

In [12]:
# ax=city_data_df.plot.scatter('Lat','Humidity',edgecolor='black', linewidths=1, marker='o', alpha=0.8, label = 'Cities')
# ax.set_xlabel('Latitude')
# ax.set_ylabel('Humidity')
# ax.set_title(f'City latitude vs current max temp:  {todays_date}')
# plt.grid(True)
# plt.savefig('weather_data/fig2.png')

In [13]:
# ax=city_data_df.plot.scatter('Lat','Wind Speed',edgecolor='black', linewidths=1, marker='o', alpha=0.8, label = 'Cities')
# ax.set_xlabel('Latitude')
# ax.set_ylabel('Wind Speed')
# ax.set_title(f'City latitude vs current wind speed:  {todays_date}')
# plt.grid(True)
# plt.savefig('weather_data/fig3.png')

In [14]:
# ax=city_data_df.plot.scatter('Lat','Cloudiness',edgecolor='black', linewidths=1, marker='o', alpha=0.8, label = 'Cities')
# ax.set_xlabel('Latitude')
# ax.set_ylabel('Cloudiness')
# ax.set_title(f'City latitude vs current cloudiness:  {todays_date}')
# plt.grid(True)
# plt.savefig('weather_data/fig4.png')
# linregress(city_data_df['Lat'],city_data_df['Cloudiness'])

In [15]:
# def plot_linear_regression(x_values,y_values,title,y_label,text_coordinates):
#     (slope,intercept,r_value,p_value,std_err) = linregress(x_values,y_values)
#     regress_values = slope * x_values + intercept
#     regression = f'y = {slope:.2f} * x + {intercept:.2f}.  R value = {r_value:.2f}'
#     plt.scatter(x_values,y_values)
#     print(regression)
#     plt.ylabel(y_label)
#     plt.title(title)
#     plt.plot(x_values,regress_values,color='red')
#     plt.annotate(regression,text_coordinates,fontsize=10,color='red')
#     plt.show()

In [16]:
# city_data_df.head()

In [17]:
# city_data_southern_df = city_data_df.loc[(city_data_df['Lat'] <= 0)]
# city_data_northern_df = city_data_df.loc[(city_data_df['Lat'] > 0)]
# plot_linear_regression(city_data_southern_df['Lat'],city_data_southern_df['Max Temp'],'temp vs latitude','temperature(degF)',(-35,30))
# plot_linear_regression(city_data_northern_df['Lat'],city_data_northern_df['Max Temp'], 'temp vs latitude', 'Temperature (degF)',(0,30))

In [18]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2021-05-24 19:46:20,62.4560,-114.3525,42.33,38,1,5.01
1,1,Sai Buri,TH,2021-05-24 19:46:20,6.7013,101.6168,78.75,86,97,4.23
2,2,Saldanha,ZA,2021-05-24 19:46:20,-33.0117,17.9442,60.85,92,100,5.06
3,3,Tuktoyaktuk,CA,2021-05-24 19:46:21,69.4541,-133.0374,30.20,100,90,8.05
4,4,Provideniya,RU,2021-05-24 19:46:21,64.3833,-173.3000,37.51,70,0,22.37

In [19]:
import gmaps
gmaps.configure(api_key=g_key)

In [20]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2021-05-24 19:46:20,62.4560,-114.3525,42.33,38,1,5.01
1,1,Sai Buri,TH,2021-05-24 19:46:20,6.7013,101.6168,78.75,86,97,4.23
2,2,Saldanha,ZA,2021-05-24 19:46:20,-33.0117,17.9442,60.85,92,100,5.06
3,3,Tuktoyaktuk,CA,2021-05-24 19:46:21,69.4541,-133.0374,30.20,100,90,8.05
4,4,Provideniya,RU,2021-05-24 19:46:21,64.3833,-173.3000,37.51,70,0,22.37

In [21]:
# import gmaps
# locations = city_data_df[['Lat','Lng']]
# temperatures = list(city_data_df['Max Temp'])
# for element in temperatures:
#     if element <= 0:
#         element = 0

# fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
# heat_layer = gmaps.heatmap_layer(locations, weights = temperatures,dissipating=False,max_intensity=300,point_radius=4)
# fig.add_layer(heat_layer)
# fig

In [22]:
# min(temperatures)

In [23]:
# locations = city_data_df[['Lat','Lng']]
# humidities = list(city_data_df['Humidity'])

# fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
# heat_layer = gmaps.heatmap_layer(locations, weights = humidities,dissipating=False,max_intensity=300,point_radius=4)
# fig.add_layer(heat_layer)
# fig

In [24]:
# locations = city_data_df[['Lat','Lng']]
# pct_clouds = list(city_data_df['Cloudiness'])
# fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
# heat_layer = gmaps.heatmap_layer(locations, weights = pct_clouds,dissipating=False,max_intensity=300,point_radius=4)
# fig.add_layer(heat_layer)
# fig

In [25]:
# locations = city_data_df[['Lat','Lng']]
# wind_speed = list(city_data_df['Wind Speed'])

# fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
# heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed,dissipating=False,max_intensity=300,point_radius=4)
# fig.add_layer(heat_layer)
# fig

In [26]:

max_temp_preference = float(input('What is the top of your desired temperature range?'))
min_temp_preference = float(input('What is the base of your desired temperature range'))

What is the top of your desired temperature range?85
What is the base of your desired temperature range75

In [27]:
selected_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp_preference) & (city_data_df['Max Temp'] <= max_temp_preference)]

In [28]:
selected_cities_df.count()

City_ID       130
City          130
Country       130
Date          130
Lat           130
Lng           130
Max Temp      130
Humidity      130
Cloudiness    130
Wind Speed    130
dtype: int64

In [29]:
# locations = selected_cities_df[['Lat','Lng']]
# temperatures = list(selected_cities_df['Max Temp'])
# for element in temperatures:
#     if element <= 0:
#         element = 0

# fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
# heat_layer = gmaps.heatmap_layer(locations, weights = temperatures,dissipating=False,max_intensity=300,point_radius=4)
# marker_layer = gmaps.marker_layer(locations)
# fig.add_layer(heat_layer)
# fig.add_layer(marker_layer)
# fig

In [30]:
hotel_df = selected_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ''

In [33]:
base_hotel_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {'radius' : 5000,
         'type' : 'lodging',
         'key' : g_key
         }
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    long = row['Lng']
    params['location'] = f'{lat},{long}'
    hotels = requests.get(base_hotel_url,params=params).json()
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
            print("Hotel not found.  Skipping")

Hotel not found.  Skipping
Hotel not found.  Skipping
Hotel not found.  Skipping
Hotel not found.  Skipping
Hotel not found.  Skipping

In [38]:
hotel_df.head(12)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Sai Buri,TH,78.75,6.7013,101.6168,ร้าน​ เวดดิ้ง
7,Tamandare,BR,77.86,-8.7597,-35.1047,Pousada 100 Passos
17,Rikitea,PF,76.42,-23.1203,-134.9692,Pension Maro'i
24,Kavaratti,IN,84.00,10.5669,72.6420,Hotels in Lakshadweep Islands
25,Osmena,PH,82.83,10.5208,119.9258,Arjemarkyza Lodge
28,Butaritari,KI,76.42,3.0707,172.7902,Isles Sunset Lodge
30,Port-Gentil,GA,82.36,-0.7193,8.7815,Fengshui Residence
32,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
33,Siocon,PH,78.93,7.7061,122.1353,ABS Hotel
40,Albany,US,75.15,42.6001,-73.9662,
42,Georgetown,MY,82.89,5.4112,100.3354,Cititel Penang
48,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt/><dd>{City}</dd>
<dt>Country</dt/><dd>{Country}</dd>
<dt>Max Temp</dt/><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
locations = hotel_df[['Lat','Lng']]
temperatures = list(hotel_df['Max Temp'])
for element in temperatures:
    if element <= 0:
        element = 0

fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
heat_layer = gmaps.heatmap_layer(locations, weights = temperatures,dissipating=False,max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))