## Deliverable 2. Create a Customer Travel Destinations Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df = city_data_df.drop(columns='Unnamed: 0')
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,mahebourg,-20.4081,57.7000,72.25,83,19,8.86,MU,few clouds
1,namibe,-15.1961,12.1522,71.80,65,16,3.13,AO,few clouds
2,nanortalik,60.1432,-45.2371,38.64,83,19,19.37,GL,few clouds
3,vaini,-21.2000,-175.2000,69.96,94,90,6.91,TO,light rain
4,shache,38.4167,77.2406,76.50,27,100,7.38,CN,overcast clouds

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# Use a conditional set to false to control a while loop
conditional = False

# Loop through temperature selection until both input values can be converted to floats
while conditional == False:
    input_1 = input('What is the upper limit of your desired vacation temperature range?  ')
    input_2 = input('How about the lower limit of temperature?  ')
# Try - except statement to catch errors attempting to convert a string to a float    
    try:
        temp_range_high = float(input_1)
        temp_range_low = float(input_2)
# If loop make sure that the higher of the entered temperatures is the top of the range        
        if temp_range_high <= temp_range_low:
            pass_variable = temp_range_high
            temp_range_high = temp_range_low
            temp_range_low = pass_variable
        print(f'You want a vacation with max temperature between {temp_range_low:.1f} and {temp_range_high:.1f}')
        response = input('is that right?  y, or n')
# If statement checks to make sure that the entered temperature range is as requested        
        if (response == 'y'):
            conditional = True
        else:
            conditional = False
    except:
        print('hmm, it looks like you entered a string for one of your temperatures')
        print('please enter your selected temperatures again')

What is the upper limit of your desired vacation temperature range?  75
How about the lower limit of temperature?  90
You want a vacation with max temperature between 75.0 and 90.0
is that right?  y, or ny

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
selected_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= temp_range_high) & (city_data_df['Max Temp'] >= temp_range_low)]
selected_cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
4,shache,38.4167,77.2406,76.50,27,100,7.38,CN,overcast clouds
20,sailana,23.4667,74.9167,81.19,62,1,14.36,IN,clear sky
22,barreirinha,-2.7933,-57.0700,82.18,67,81,1.30,BR,broken clouds
25,puerto ayora,-0.7393,-90.3518,75.54,84,18,8.01,EC,few clouds
29,otukpo,7.1913,8.1329,78.89,81,50,8.72,NG,scattered clouds

In [25]:
# 4a. Determine if there are any empty rows.
selected_cities_df.isnull().sum()

City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = selected_cities_df.copy()
clean_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
4,shache,38.4167,77.2406,76.50,27,100,7.38,CN,overcast clouds
20,sailana,23.4667,74.9167,81.19,62,1,14.36,IN,clear sky
22,barreirinha,-2.7933,-57.0700,82.18,67,81,1.30,BR,broken clouds
25,puerto ayora,-0.7393,-90.3518,75.54,84,18,8.01,EC,few clouds
29,otukpo,7.1913,8.1329,78.89,81,50,8.72,NG,scattered clouds
31,kulhudhuffushi,6.6221,73.0700,83.12,74,79,19.48,MV,broken clouds
39,cockburn town,21.4612,-71.1419,80.35,81,16,18.19,TC,few clouds
41,kapaa,22.0752,-159.3190,84.52,62,20,8.39,US,few clouds
45,rikitea,-23.1203,-134.9692,75.11,70,97,12.41,PF,overcast clouds
47,vanimo,-2.6741,141.3028,78.53,89,98,6.13,PG,overcast clouds

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,shache,CN,76.50,overcast clouds,38.4167,77.2406,
20,sailana,IN,81.19,clear sky,23.4667,74.9167,
22,barreirinha,BR,82.18,broken clouds,-2.7933,-57.0700,
25,puerto ayora,EC,75.54,few clouds,-0.7393,-90.3518,
29,otukpo,NG,78.89,scattered clouds,7.1913,8.1329,
31,kulhudhuffushi,MV,83.12,broken clouds,6.6221,73.0700,
39,cockburn town,TC,80.35,few clouds,21.4612,-71.1419,
41,kapaa,US,84.52,few clouds,22.0752,-159.3190,
45,rikitea,PF,75.11,overcast clouds,-23.1203,-134.9692,
47,vanimo,PG,78.53,overcast clouds,-2.6741,141.3028,

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    latitude = row['Lat']
    longitude = row['Lng']
    location = f'{latitude},{longitude}'
   
    params['location'] = location
 

        # 6c. Get latitude and longitude from DataFrame


        # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel_output = requests.get(base_url,params = params).json()
    try:
        hotel_df.loc[index,['Hotel Name']] = hotel_output['results'][0]['name']
    except:
        No_hotel_city = row['City']
        print(f'No hotel found within 5,000 m of {No_hotel_city}')
        pass
    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

No hotel found within 5,000 m of gewane
No hotel found within 5,000 m of simbahan
No hotel found within 5,000 m of agutaya
No hotel found within 5,000 m of gamba
No hotel found within 5,000 m of marzuq
No hotel found within 5,000 m of thinadhoo
No hotel found within 5,000 m of awjilah
No hotel found within 5,000 m of nalut
No hotel found within 5,000 m of nioro
No hotel found within 5,000 m of guisa
No hotel found within 5,000 m of caxito

In [30]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,shache,CN,76.50,overcast clouds,38.4167,77.2406,Delong Hotel
20,sailana,IN,81.19,clear sky,23.4667,74.9167,Krishna Marriage Garden Sailana
22,barreirinha,BR,82.18,broken clouds,-2.7933,-57.0700,Hotel e Restaurante Tupana Iwato
25,puerto ayora,EC,75.54,few clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
29,otukpo,NG,78.89,scattered clouds,7.1913,8.1329,Queen s Hotel

In [34]:
# 7. Drop the rows where there is no Hotel Name.
null_rows = hotel_df.loc[hotel_df['Hotel Name'] == ''].index
for index in null_rows:
    hotel_df.drop(index = index,inplace=True)
clean_hotel_df = hotel_df.copy()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,shache,CN,76.50,overcast clouds,38.4167,77.2406,Delong Hotel
20,sailana,IN,81.19,clear sky,23.4667,74.9167,Krishna Marriage Garden Sailana
22,barreirinha,BR,82.18,broken clouds,-2.7933,-57.0700,Hotel e Restaurante Tupana Iwato
25,puerto ayora,EC,75.54,few clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
29,otukpo,NG,78.89,scattered clouds,7.1913,8.1329,Queen s Hotel

In [35]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt/><dd>{City}</dd>
<dt>Country</dt/><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt/><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))