## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,shache,CN,76.50,overcast clouds,38.4167,77.2406,Delong Hotel
1,20,sailana,IN,81.19,clear sky,23.4667,74.9167,Krishna Marriage Garden Sailana
2,22,barreirinha,BR,82.18,broken clouds,-2.7933,-57.0700,Hotel e Restaurante Tupana Iwato
3,25,puerto ayora,EC,75.54,few clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,29,otukpo,NG,78.89,scattered clouds,7.1913,8.1329,Queen s Hotel

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt/><dd>{Hotel Name}</dd>
<dt>City</dt/><dd>{City}</dd>
<dt>Country</dt/><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt/><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [20]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.7)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'padang']
vacation_end = vacation_df.loc[vacation_df['City'] == 'padang']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'astanajapura']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'mlonggo'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'denpasar']

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_df.loc[vacation_df['City']=='padang'][['Lat','Lng']].to_numpy()[0][0],
          vacation_df.loc[vacation_df['City']=='padang'][['Lat','Lng']].to_numpy()[0][1]))
end = ((vacation_df.loc[vacation_df['City']=='padang'][['Lat','Lng']].to_numpy()[0][0],
        vacation_df.loc[vacation_df['City']=='padang'][['Lat','Lng']].to_numpy()[0][1]))
stop1 = ((vacation_df.loc[vacation_df['City']=='astanajapura'][['Lat','Lng']].to_numpy()[0][0],
          vacation_df.loc[vacation_df['City']=='astanajapura'][['Lat','Lng']].to_numpy()[0][1]))
stop2 = ((vacation_df.loc[vacation_df['City']=='mlonggo'][['Lat','Lng']].to_numpy()[0][0],
          vacation_df.loc[vacation_df['City']=='mlonggo'][['Lat','Lng']].to_numpy()[0][1]))
stop3 = ((vacation_df.loc[vacation_df['City']=='denpasar'][['Lat','Lng']].to_numpy()[0][0],
          vacation_df.loc[vacation_df['City']=='denpasar'][['Lat','Lng']].to_numpy()[0][1]))

In [23]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,621,padang,ID,75.02,overcast clouds,-0.9492,100.3543,Mercure Padang
1,232,astanajapura,ID,77.76,broken clouds,-6.8017,108.6311,nida nur arofah
2,286,mlonggo,ID,80.49,broken clouds,-6.5333,110.7000,Asia Metal Art
3,292,denpasar,ID,78.46,few clouds,-8.6500,115.2167,ASTON Denpasar Hotel & Convention Center
4,621,padang,ID,75.02,overcast clouds,-0.9492,100.3543,Mercure Padang

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt/><dd>{City}</dd>
<dt>Country</dt/><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt/><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))